@import url('https://fonts.googleapis.com/css2?family=Yrsa&display=swap');

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yrsa', serif;
}

body {
    text-align: center;
}

nav,
nav ul {
    display: flex;
}

ul {
    list-style: none;
    animation: aparecer 1s ease-in-out;
}

a {
    text-decoration: none;
    color: white
}

nav {
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    font-size: 20px;
}

nav p {
    padding: 0 20px;
    animation: aparecer 1s ease-in-out;

}

nav li {
    padding: 0 20px;
}

header {
    background-image: linear-gradient(180deg, rgba(188, 238, 112, 0.7), rgba(157, 241, 171, 0.7)), url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 80vh;
}


h1,
h2 {
    text-align: center;
    color: white;
    animation: aparecer 1s ease-in-out;
}

h1 {
    font-size: max(5vw, 35px);
}

h2 {
    font-size: min(2vw, 60px);
}

#text {
    margin-top: 150px;
}

#sec01 h1 {
    color: black;
    font-size: 40px;
    margin-top: 50px;
    animation: aparecer 1s ease-in-out;
}

#sec01 p {
    text-align: center;
    font-size: 25px;
    margin: 40px;
    animation: aparecer 1s ease-in-out;
}

#sec02 {
    background-color: rgba(188, 238, 112);
    width: 100%;
    height: 450px;
}

#sec02 h1 {
    color: black;
    font-size: 40px;
    padding-top: 70px;
    animation: aparecer 1s ease-in-out;
}

#sec02 p {
    text-align: center;
    font-size: 25px;
    margin: 30px 40px 0 40px;
    animation: aparecer 1s ease-in-out;
}

.linha {
    display: flex;
    justify-content: center;
}

#sec01 img {
    width: 350px;
    height: 200px;
}

#sec01 .card {
    display: flex;
    align-items: center;
    background-color: rgba(188, 238, 112);
    margin: 20px 20px 0px 20px;
    height: 300px;
}

#sec02 img {
    width: 350px;
    height: 200px;
}

#sec02 .card {
    display: flex;
    align-items: center;
    background-color: rgba(188, 238, 112);
    margin: 20px 20px 0px 20px;
    height: 300px;
}

#sec01 a {
    color: black;
    text-decoration: none;
}

@media(min-width: 1301px) {
    header {
        height: 500px;
    }

    nav {
        font-size: 2vw;
    }
}

@media(min-width: 1700px) {
    header {
        height: 600px;
    }
}


@media(max-width: 1300px) {
    header h2 {
        font-size: 2.5vw;
    }

    header {
        height: 500px;
    }

    nav {
        font-size: 30px;
    }
}

@media(max-width: 950px) {
    header {
        height: 400px;
    }

    nav {
        font-size: 25px;
    }
}

@media(max-width: 1200px) {
    .linha {
        flex-wrap: wrap;
    }

    #sec01 .card {
        margin: 40px;
    }
}